variables : variables are the container it is used to store the values in it like data(literals)

In [3]:
#a)
name="gagan"
num1=2
num2=3.445
print("hello",name)

hello gagan

b)diff betweeen a variables and the constant?can we have constant in python
variables : variables are used to store the value
-in python we can assign the value by using the assinment operator(=)
contants: constant is the value that can not be changed once it assiged
-constant are written in uppercase letters and the word are separated by the underscore(-)

3) working with different data types
->data type is a classification of data that deytermines the type of value can variable holds

a)creat the variables of the following data tyapes
integer-->x=12
float-->z=1.23
string-->str_1="gagan"
boolean-->bool_1=True

In [4]:
#b)write a python script to display the type of each variables you created
int_1=10
int_2=10
result=int_1+int_2
print(result)

20

In [5]:
num1=1.2
num2=2.3
result=num1+num2
print(result)

3.5

In [6]:
name="gagan"
print("ur name is", name)

ur name is gagan

In [8]:
bool_1=True
bool_2=True
result=bool_1&bool_2
print(result)

True

3) arithematic operators

In [9]:
#1) addtion(+)
num1=10
num2=20
result=num1+num2
print(result)

30

In [11]:
#2) substraction(-)
num1=20
num2=60
result=num1-num2
print(result)

-40

In [12]:
#3) multiplication(*)
a=5
b=5
z=a*b
print(z)

25

In [13]:
#4)division(/) -->it gives the qutiont value
a=10
b=2
z=a/b
print(z)

5.0

In [14]:
#5) modulus(%)-->it give te value of remainder
a=10
b=2
z=a%b
print(z)

0

In [15]:
#6)exponantion(**)--> it is represented through the powers of the number
a=2
b=3
z=a**b
print(z)

8

In [16]:
#7) floar division
a=3
b=2
z=a//b
print(z)

1

5) typecasting--> it is converting the one data type into another data type
     types in typecasting
     1--> implicit typecasting: it perform the operation of converting the data type frm one to another automatically
     2--> explicit typecasting:it perform the opeartion by manually

In [17]:
#1) implicit type casting: ex:- coverting frm int to float
num1=10
num2=3
result=num1/num2
print(result)

3.3333333333333335

In [18]:
#2) explicit typecasting: ex:- converting str to int
num1="3"
num2=6
int(num1)+num2

9

In [19]:
#3) converting fron string to float
num1="2.1"
float(num1)

2.1

5b) write a python program to calculate the lenghth and width of the rectangle by using the variables "length", and "width" the values 5 and 10

In [20]:
length=5
width=10
area=length*width
print(area)

50

a)comparision and logical operator
1-->equal to(==): it used to compare the value is equal or not
2-->not equal to(!=):it used to check the value is not equal condition
3-->greater than(>): it check the value is greater than condition
4-->lees than(<): it check the value is less than condition
5-->greater than or equal to(>=):it compare the two values which is greater than or equal condition
6-->less than or equal to(<=): it compare the two values which is the less than or equal to condition
----- examples are codded below

In [21]:
#1)equal(==)
a=1
b=1
z=a==b
print(z)

True

In [22]:
#2) not equal to(!=)
x=a!=b
print(x)

False

In [23]:
#3) greater than (>)
a=12
b=19
y=a>b
print(y)

False

In [24]:
#4) less than(<)
x=a<b
print(x)

True

In [25]:
#5)greater than or equal to(>=)
a=10
b=12
z=a>=b
print(z)

False

In [26]:
#6) less than or equal to(<=)
x=a<=b
print(x)

True

4b) using logical opeartor ("and","or","not") write a python code to check the nuber is positive and even

In [28]:


number=int(input("enter the number1"))
if number>0  and number%2==0:
    print("number is positive and even")
else:
    print("number is negative and odd")

enter the number157
number is negative and odd